.navbar-brand img {
  width: 35%;
}

header {
  width: 100%;
  position: fixed;
}

.navbar-brand {
  margin-left: 44%;
}

.cupom-off {
  padding-top: 69px;
  background-color: #272727;
  color: white;
  font-size: 14px;
  text-align: center;
}

.cupom {
  background-color: white;
  color: #cc1f1f;
  padding: 2px;
  font-weight: bold;
}

.vans-oldschool {
  width: 100%;
}

p {
  margin-bottom: 0rem;
}

.lizzie-foot {
  width: 100%;
}

.half-cab img {
  width: 100%;
}

.half-cab p {
  padding: 0px 30px;
  width: 100%;
}

.sandy-liang img {
  width: 100%;
}

.sandy-liang p {
  padding: 0px 30px;
  width: 100%;
}

.bar {
  background-image: url(img/Bar.png);
  background-size: contain;
  display: block;
  height: 17px;
}

h4{
    text-transform: uppercase;
    font-size: 24px;
}

.grid-container a{
    text-decoration: none;
    color: black;
}

.foot-name{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.foot-age{
    font-size: 12px;
}